@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    font-family: 'Ubuntu Mono', monospace;
}

.extrato {
    background-color: #F8EFBA;
    width: 40ch;
    margin: 0 auto;
}

.extrato::before{
    height: 10x;
}